# PANDAS

**Pandas is used for data Exploration, Wrongling and Analysis**

## MATPLOTLIB

**MatPlotLib is used for Data Visualization**

**Open source**

Module is a file that contains one or more functionalities

### A column indicates series

**2 or more columns is a dataframe**

In [12]:
# How to import pandas
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
data = pd.read_excel("sample superstore.xlsx", header=1)

In [ ]:
# lOAD DATASETS
"""
to read excel files ==> pd.read_excel("filename.xlsx")
to read csv files ==> pd.read_csv("filename.csv")
to read json files ==> pd.read_json("filename.json")
to read pickle files ==> pd.read_pickle("filename.pkl")

"""

In [14]:
 # return fIRST ROW
  data.head()

IndentationError: unexpected indent (479981382.py, line 2)

In [ ]:
# to return random rows
data.sample(4)

In [15]:
# to check total number of rows and columns
data.shape

(9433, 25)

In [16]:
# to return all columns
data.columns

Index(['Unnamed: 0', 'Order ID', 'Order Priority', 'Discount', 'Unit Price',
       'Shipping Cost', 'Customer ID', 'Customer Name', 'Ship Mode',
       'Customer Segment', 'Product Category', 'Product Sub-Category',
       'Product Container', 'Product Name', 'Product Base Margin', 'Region',
       'State or Province', 'City', 'Postal Code', 'Order Date', 'Ship Date',
       'Shipping Days', 'Profit', 'Quantity ordered new', 'Sales'],
      dtype='object')

In [17]:
# to check the data description
data.describe()

,Unnamed: 0,Order ID,Discount,Unit Price,Shipping Cost,Customer ID,Product Base Margin,Postal Code,Shipping Days,Profit,Quantity ordered new
count,0.0,9433.000000,9429.000000,9429.000000,9433.000000,9433.000000,9361.000000,9433.000000,9433.000000,9433.000000,9433.000000
mean,NaN,82322.359589,0.049637,88.374355,12.800261,1739.656737,0.512200,52438.343369,2.028835,139.048171,13.796353
std,NaN,19142.868581,0.031803,281.537895,17.183799,979.851635,0.135229,29373.373051,2.300988,998.245544,15.103544
min,NaN,6.000000,0.000000,0.990000,0.490000,2.000000,0.350000,1001.000000,0.000000,-16476.838000,1.000000
25%,NaN,86738.000000,0.020000,6.480000,3.170000,898.000000,0.380000,29301.000000,1.000000,-74.030000,5.000000
50%,NaN,88343.000000,0.050000,20.990000,6.050000,1750.000000,0.520000,52302.000000,2.000000,2.596000,10.000000
75%,NaN,89986.000000,0.080000,85.990000,13.990000,2579.000000,0.590000,78521.000000,2.000000,140.280000,17.000000
max,NaN,91591.000000,0.250000,6783.020000,164.730000,3403.000000,0.850000,99362.000000,92.000000,16332.414000,170.000000

In [18]:
# to check data type of all the columns
data.dtypes

Unnamed: 0                     float64
Order ID                         int64
Order Priority                  object
Discount                       float64
Unit Price                     float64
Shipping Cost                  float64
Customer ID                      int64
Customer Name                   object
Ship Mode                       object
Customer Segment                object
Product Category                object
Product Sub-Category            object
Product Container               object
Product Name                    object
Product Base Margin            float64
Region                          object
State or Province               object
City                            object
Postal Code                      int64
Order Date              datetime64[ns]
Ship Date               datetime64[ns]
Shipping Days                    int64
Profit                         float64
Quantity ordered new             int64
Sales                           object
dtype: object

In [19]:
# to get more infos
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9433 entries, 0 to 9432
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            0 non-null      float64
 1   Order ID              9433 non-null   int64
 2   Order Priority        9427 non-null   object
 3   Discount              9429 non-null   float64
 4   Unit Price            9429 non-null   float64
 5   Shipping Cost         9433 non-null   float64
 6   Customer ID           9433 non-null   int64
 7   Customer Name         9433 non-null   object
 8   Ship Mode             9433 non-null   object
 9   Customer Segment      9425 non-null   object
 10  Product Category      9433 non-null   object
 11  Product Sub-Category  9433 non-null   object
 12  Product Container     9433 non-null   object
 13  Product Name          9433 non-null   object
 14  Product Base Margin   9361 non-null   float64
 15  Region                9433 non-null   object
 16  State or Province     9433 non-null   object
 17  City                  9433 non-null   object
 18  Postal Code           9433 non-null   int64
 19  Order Date            9433 non-null   datetime64[ns]
 20  Ship Date             9433 non-null   datetime64[ns]
 21  Shipping Days         9433 non-null   int64
 22  Profit                9433 non-null   float64
 23  Quantity ordered new  9433 non-null   int64
 24  Sales                 9429 non-null   object
dtypes: datetime64[ns](2), float64(6), int64(5), object(12)
memory usage: 1.8+ MB

In [20]:
# check for null values
data.isnull().sum()

Unnamed: 0              9433
Order ID                   0
Order Priority             6
Discount                   4
Unit Price                 4
Shipping Cost              0
Customer ID                0
Customer Name              0
Ship Mode                  0
Customer Segment           8
Product Category           0
Product Sub-Category       0
Product Container          0
Product Name               0
Product Base Margin       72
Region                     0
State or Province          0
City                       0
Postal Code                0
Order Date                 0
Ship Date                  0
Shipping Days              0
Profit                     0
Quantity ordered new       0
Sales                      4
dtype: int64

In [21]:
# sum of duplicate values
data.duplicated().sum()

7

In [26]:
# assess discount
data.Discount

0       0.01
1       0.01
2       0.03
3       0.01
4       0.00
        ...
9428    0.06
9429    0.00
9430    0.08
9431    0.10
9432    0.09
Name: Discount, Length: 9433, dtype: float64

In [30]:
data["Shipping Cost"].tail()

9428    14.72
9429     7.49
9430    45.70
9431    13.99
9432     2.50
Name: Shipping Cost, dtype: float64

In [39]:
data["Shipping Days"].head()

0    2
1    1
2    1
3    1
4    0
Name: Shipping Days, dtype: int64

In [45]:
data["Shipping Cost"].max()

164.73

In [47]:
data["Shipping Cost"].mean().

12.800260786600234

In [48]:
data["Shipping Cost"].mean().round()

13.0

In [49]:
data[["Shipping Cost","Customer ID","Unit Price"]]

      Shipping Cost  Customer ID  Unit Price
0              0.50            2        2.88
1              0.93            3        2.84
2              6.15            3        6.68
3              3.60            3        5.68
4              2.50            3      205.99
...             ...          ...         ...
9428          14.72         3402       35.89
9429           7.49         3402        3.34
9430          45.70         3402      550.98
9431          13.99         3403      105.98
9432           2.50         3403        7.78

[9433 rows x 3 columns]

In [50]:
# return unique method for ship mode
data["Ship Mode"].unique()

array(['Regular Air', 'Express Air', 'Delivery Truck'], dtype=object)

In [52]:
data["Order Priority"].unique()

array(['Not Specified', 'High', 'Medium', 'Low', nan, 'Critical',
       'Critical '], dtype=object)

In [53]:
# to get the count of values
data["Ship Mode"].value_counts()

Regular Air       7039
Delivery Truck    1285
Express Air       1109
Name: Ship Mode, dtype: int64

# DATA CLEANING

In [54]:
# drop duplicate
data.drop_duplicates(inplace=True)

In [58]:
data.duplicated().sum()

0

In [66]:
# drop null values
data.dropna(inplace=True)

In [67]:
data.isnull().sum()

Order ID                0
Order Priority          0
Discount                0
Unit Price              0
Shipping Cost           0
Customer ID             0
Customer Name           0
Ship Mode               0
Customer Segment        0
Product Category        0
Product Sub-Category    0
Product Container       0
Product Name            0
Product Base Margin     0
Region                  0
State or Province       0
City                    0
Postal Code             0
Order Date              0
Ship Date               0
Shipping Days           0
Profit                  0
Quantity ordered new    0
Sales                   0
dtype: int64

In [68]:
# to drop colum
# data.drop(columns="unnamed: 0", inplace=True)

In [69]:
# drop all rows containing null values
data.dropna(axis=0)

,Order ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Shipping Days,Profit,Quantity ordered new,Sales
0,88525,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,2,1.320000,2,5.9
1,88522,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,1,4.560000,4,13.01
2,88523,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,1,-47.640000,7,49.92
3,88523,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,1,-30.510000,7,41.64
4,88523,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,0,998.202300,8,1446.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,87532,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,1,137.860000,13,447.87
9422,87532,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,0,-39.070000,3,13.23
9423,87533,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,2,-1225.029097,4,2215.93
9424,87530,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,3,349.485000,5,506.5
9425,87533,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,2,78.062400,23,172.48

In [73]:
data["Order Priority"].unique()

array(['Not Specified', 'High', 'Medium', 'Low', 'Critical', 'Critical '],
      dtype=object)

In [74]:
data["Order Priority"].replace("Critical")

0       Not Specified
1                High
2       Not Specified
3       Not Specified
4       Not Specified
            ...
9421             High
9422             High
9423    Not Specified
9424             High
9425    Not Specified
Name: Order Priority, Length: 9330, dtype: object

In [75]:
data.head()

,Order ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Shipping Days,Profit,Quantity ordered new,Sales
0,88525,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,2,1.3200,2,5.9
1,88522,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,1,4.5600,4,13.01
2,88523,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,1,-47.6400,7,49.92
3,88523,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,1,-30.5100,7,41.64
4,88523,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,0,998.2023,8,1446.67

In [ ]:
# check for null columns to delete null columns before deleting null values.